#work_single_banner {
    background-image: url('./assets/img/banner-bg-02.jpg');
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .related-content {
    border-radius: 20px;
    cursor: pointer;
  }